.text-success {
    color: var(--success);
}

.text-danger {
    color: var(--danger);
}

.text-warning {
    color: var(--warning);
}

.badge-success {
    background-color: var(--success);
    color: var(--light);
    padding: 5px;
    border-radius: 5px;
}

.badge-primary {
    background-color: var(--primary);
    color: var(--light);
    padding: 5px;
    border-radius: 5px;
}

.badge-danger {
    background-color: var(--danger);
    color: var(--light);
    padding: 5px;
    border-radius: 5px;
}

.badge-warning {
    background-color: var(--warning);
    color: var(--light);
    padding: 5px;
    border-radius: 5px;
}

.link-primary {
    color: var(--primary);
    text-decoration: underline;
}

.link-primary:hover {
    cursor: pointer;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

.container-videos-flex {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    background-color: #000;
    padding: 4rem 0;
}

.details small {
    line-height: 44px;
    margin-top: 10px;
    font-size: 13px;
}

.container1 {
    display: flex;
    width: 100%;
    margin: 3rem 0;
    padding: 10rem 0;
    justify-content: center;
}

.container-flex1 {
    display: flex;
    width: 90%;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3rem 0;
}

.help-flex {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5rem 0;

}

.help-flex p {
    font-size: 1.5rem;
    padding: 1rem 0;
}

.help-flex h3 {
    color: #05ad94;
    font-family: "Averta", Sans-serif;
    font-size: 50px;
    font-weight: 700;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1.1em;
    letter-spacing: -2px;
    word-spacing: 0em;
}

.help-flex button {
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -1.3px;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: transparent;
    background-image: linear-gradient(89deg, #03e3c1 0%, #05ad94 100%);
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #03e3c1;
    border-radius: 100px 100px 100px 100px;
    padding: 25px 50px 25px 50px;
    transition: .4s;
    cursor: pointer;
    margin: 2rem 0;
}


.help-flex button:hover {
    transform: scale(.8);

}

.msg-sys {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.msg-sys-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    padding: 3rem 2rem;
    gap: 1rem;
    background-color: #ffffff;
    border: 1px solid #cecece;

}

.msg-sys-flex figure {
    display: flex;
    justify-content: center;
}

.msg-sys p {
    color: #333333;
    font-size: 1.2rem;
    text-align: center;
}

.p1 {
    line-height: 1.5rem;
}

.font-1 {
    font-size: 1.7rem;
    padding: .5rem 0;
}

.h4 {
    font-size: 1.3rem;
    text-transform: uppercase;
    padding: 1rem 0;
}

.ico-socialfooter {
    opacity: 1;
    cursor: pointer;
}

.ico-socialfooter:hover {
    opacity: 0.6;
    transition: 0.3s;
    fill: #ffffff63;
}

.gap {
    display: flex;
    gap: 1rem;
}

.boxespaco-1 {
    margin: 0.5rem 0;
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.link-1 {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.8rem;
    text-transform: uppercase;
}

.link-1:hover {
    color: #027c6a;
    font-weight: bold;
}

.footer-1 {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #fff;
    background-image: linear-gradient(120deg, #03e3c1 0%, #2c8a7a 100%), url("/assets/images/bg-footer1.jpg");
    background-blend-mode: multiply;
    padding: 3rem 0;
    box-sizing: border-box;
    min-height: 200px;
    position: relative;
}

.footer-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #fff;
    background-image: linear-gradient(120deg, #03e3c1 0%, #2c8a7a 100%), url("/assets/images/bg-footer1.jpg");
    background-blend-mode: multiply;
    padding: 1rem 0;
    position: relative;
    border-top: 2px solid #c8fff628;
}

.footer-flex {
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: start;

}

.footer-column {
    display: flex;
    width: 90%;
    justify-content: center;
    gap: 3rem;


}

.footer-box {
    display: flex;
    width: 300px;
    justify-content: center;

}

.footer-card {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 1rem 0;
}

.ico-set-1 {
    background-image: url(/assets/images/ico-seta1.svg);
    background-repeat: no-repeat;
    background-size: .5rem;
    background-position-y: 1.4rem;
    text-indent: 1.4rem;
}

figure {
    width: 90%;
    min-width: 17.5em;
    margin: 0 auto;
}

figcaption {
    font: 120% sans-serif;
    text-align: center;
}

.boxVideo {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    margin: 0 auto;
}

.boxVideo iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.secunid {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 2rem 0;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
}

.secunid-flex {
    display: flex;
    width: 25%;
    border: 2px solid #03e3c1;
    flex-direction: column;
    padding: 0 0 2rem 0;
    background-color: white;
}

.secunid-content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.secunid-content a {
    color: #333 !important;
    padding: 15px 20px;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid #03e3c1;
    background-color: white;
    margin-top: 1rem;
    text-align: center;
}

.secunid-content a:hover {
    color: #03e3c1 !important;
    border: 2px solid #03e3c1 !important;
}

.secunid-content hr {
    border: #00A694 2px solid;
    width: 40%;
    margin: 2px 0;
}

.secunid-img {
    padding: 0rem;
}

.secunid-img img {
    width: 100%;
}

.secunid-flex h3 {
    font-size: 1.3rem !important;
    text-transform: uppercase;
}

.secunid-flex p {
    font-size: 1rem !important;
    line-height: 1.4rem;
}

.secunid-box {
    display: flex;
    padding: .8rem .5rem;
    align-items: center;
}

.secunid-box .secunid-fone {
    font-size: 1.6rem !important;
    align-items: center;
    display: flex;
    font-weight: bold;
}

.secunid-box img {
    padding: 0 .9rem 0 0;
}


.home-banner {
    width: 100%;
    padding: 2rem;
    display: flex;
    background-image: url(/assets/images/bg-image1.jpg);
    background-size: 100%;
    min-height: 650px;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
}

.home-banner-flex {
    max-width: 45%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}


.home-banner-box h3 {
    font-size: 3rem;
    padding-bottom: 1rem;
}

.home-banner-box hr {
    border: 3px solid #03e3c1;
    width: 25rem;
    margin-bottom: 1rem;
}

.home-banner-box p {
    padding: 1rem 0;
    text-align: justify;
    font-size: 1.2rem;
}

.whatsapp-button {
    display: block;
    position: fixed;
    height: 60px;
    right: 3rem;
    bottom: 2rem;
    transition-duration: 0.2s;

}

.whatsapp-button:hover {
    filter: grayscale(1);
    transform: scale(1.1);
}

.whatsapp-button img {
    width: 60px;
}

.parceiros {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 8rem;
}

.parceiros .parceiros-flex {
    display: flex;
    justify-content: center;
    width: 90%;
    gap: 2rem;
    flex-wrap: wrap;
}

.parceiros .parceiros-flex img {
    min-height: 100px;
}

.list-medical-flex {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
}

.box-mediclist {
    position: relative;
    width: 90%;
    display: flex;
    justify-content: center;
    border: 3px #03E3C1 solid;
    border-radius: .5rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
}

.listmedic-box-esq {
    width: 50%;
    display: flex;
    align-items: center;
    height: auto;
}

.listmedic-box-dir {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.listmedic-box-dir-ico {
    display: flex;
    padding: .6rem 1rem;
    gap: .3rem;
    align-items: center;
}

.listmedic-box-dir-subtitle {
    font-weight: bold;
    padding: 0.2rem 0;
}

.listmedic-box-dir-ico img {
    height: 26px;
    gap: 12px;
}

.listmedic-hr {
    position: relative;
    transform: rotate(90deg);
    width: 250px;
    left: -12rem;
}

.listmedic-box-esq-user {
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 2rem;
}

.listmedic-box-esq-user .imagem-user {
    border: .5rem #000000 solid;
    border-radius: 50%;
}

.listmedic-box-dir-user {
    display: flex;
    width: fit-content;
    flex-direction: column;
    padding: 2rem;
}

.listmedic-box-esq-user span {
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.listmedic-box-esq-user span img {
    padding: 0 .3rem;
}

.listmedic-box-dir-ico p {
    display: flex;
    align-items: center;
}

.listmedic-box-dir-ico p img {
    padding: 0 .3rem;
}

.listmedic-box-esq .crm-bg {
    display: flex;
    width: fit-content;
    flex-direction: column;
    color: #fff;
    background-color: #05ad94;
    padding: .4rem .8rem;
    font-size: .8rem;
    border-radius: .4rem;
    font-weight: 500;
}

.listmedic-box-esq h3 {
    font-size: 1.30rem;
    padding: .4rem 0 .2rem 0;
}

.listmedic-box-dir-title {
    width: 100%;
    margin: 1rem 0rem;
}

.listmedic-box-dir-title h3 {
    font-size: 1.25rem;
    padding: .3rem 0;
    text-transform: uppercase;
}

.listmedic-box-dir-time.active {
    background-color: #05ad94;
    color: #fff;
}

.listmedic-box-dir hr {
    width: 10rem;
    border: .2rem solid #03E3C1;

}

.listmedic-box-esq hr {
    width: 10rem;
    border: .2rem solid #03E3C1;
    margin: .3rem 0;
}

.listmedic-box-dir-time {
    display: flex;
    border: 2px solid #03E3C1;
    border-radius: .4rem;
    align-items: center;
    padding: .5rem 1rem;
    text-align: center;
    width: fit-content;
    gap: .5rem;
    transition-duration: .2s;
    width: 123px;
    justify-content: center;
}

.listmedic-box-dir-time:hover {
    display: flex;
    border: 2px solid #000000;
    border-radius: .4rem;
    align-items: center;
    padding: .5rem 1rem;
    text-align: center;
    width: 123px;
    gap: .5rem;
    cursor: pointer;
    transform: translateY(-4px);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);

}

.listmedic-box-dir-boxtime {
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.listmedic-boxlink {
    padding: .5rem 1rem !important;
    background-color: #05ad94;
    font-size: .9rem;
    color: #fff;
    font-weight: bold;
    position: relative;
    border-radius: .2rem;
}

.listmedic-boxlink[checked] {
    background-color: #03e3c1 !important;
}

.listmedic-boxlink-box {
    display: flex;
    padding: .4rem 0;
    gap: .4rem;

}

.estrelas {
    padding: 1rem 0;
}

.estrelas input[type=radio] {
    display: none;
}

.estrelas label i.fa {
    font-size: 1.5em
}

.estrelas label i.fa:before {
    content: '\f005';
    color: #03E3C1;
}

.estrelas input[type=radio]:checked~label i.fa:before {
    color: #CCC;
}

.estrelas-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.estrelas-flex span {
    margin: 0 1rem;
}

.product-home {
    display: flex;
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 1rem 0;
    padding: 2rem 0;
}

.product-search {
    display: flex;
    width: 100%;
}

.product-search .product-search-flex .input-search,
.input-select {
    width: 30%;
    font-size: 1rem;
}

.product-search .product-search-flex .input-search {
    width: 55%;
    font-size: 1rem;
}

.product-search-flex {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    position: relative;
    justify-content: center;
    margin: 3rem auto;
}

.ico-search {
    position: absolute;
    right: 2px;
    top: 12px;
}

.input-search {
    position: relative;
    display: flex;
    margin: 0 1rem;
}

.product-home-flex {
    display: flex;
    border: 1px solid #0333;
    background-color: #fff;
    width: 365px;
    min-width: 365px;
    border-radius: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    flex-direction: column;
    position: relative;
    align-items: center;
    padding-bottom: 2rem;
    flex-wrap: wrap;
    transition: .2s;
}

.product-home-flex:hover {
    transform: translateY(-.8rem);
    border: 1px solid #03E3C1;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
}

.product-home-flex .product-home-image {
    display: flex;
    height: 256px;
    padding: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

}

.product-home-flex .product-home-icone {
    display: flex;
    position: absolute;
    right: 2rem;
    top: 2rem;
    filter: grayscale(100%);
    opacity: 1;
    cursor: pointer;
    transition: .2s;

}

.product-home-flex .product-home-icone:hover {

    filter: grayscale(0%);
    transform: scale(1.5);
}

.product-home-flex .product-home-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 2rem 1rem 1rem 1rem;
    text-align: left;
}

.product-home-flex .product-home-content h2 {
    font-weight: bold;
    color: #333;
    width: 100%;
    line-height: 1.4rem;
    font-size: 1.4rem;
    margin: 0.1rem 0;
    text-transform: uppercase;
}

.product-home-flex .product-home-content hr {
    border: #03e3c1 solid 0.16em;
    width: 4rem;
    margin: 0.2rem;
}

.product-home-content-div {
    padding: 0 1rem;
}

.product-home-content-money {
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    font-size: 2rem;
    width: 100%;
    line-height: 0.8rem;
    text-align: center;
    padding: 2rem 0;
}

.medico-icone-button {
    color: #333;
    padding: 10px 20px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid #03e3c1;
    background-color: #fff;
    transition: .2s;
}

.medico-icone-button:hover {
    color: #03e3c1;
    border: 2px solid #03e3c1;
}

input,
select {
    font-size: 1rem !important;
    border: 1px solid #c8c8c8 !important;
}

select select option:checked,
select select option:hover {
    font-size: 1.4rem !important;
    color: #ffffff;
    background-color: #03e3c1 !important;
}

input[type=number] {
    appearance: textfield;
}

label {
    padding: 0.6rem 0 !important;
}

body {
    background-color: #fcfcfc;
}

.titulo-h1 {
    font-size: 2.4rem;
    text-align: center;
    width: 100%;
    padding: 2rem 0;
}

.titulo-h1::after {
    content: "";
    background-color: #03e3c1;
    display: block;
    width: 10rem;
    height: 0.4rem;
    margin: 0.4rem auto;
}

.titulo-h2 {
    font-size: 2rem;
    text-align: left;
    width: 100%;
    padding: 1rem 0;
}

.titulo-h2::after {
    content: "";
    background-color: #03e3c1;
    display: block;
    width: 10rem;
    height: 0.4rem;
    margin: 0;
}

.titulo-h6 {
    font-size: 1rem;
    text-align: left;
    width: 100%;
    padding: 1rem 0;
}

.titulo-h6::after {
    content: "";
    background-color: #03e3c1;
    display: block;
    width: 7rem;
    height: 0.2rem;
    margin: 0;
}

.ico-hover:link {
    transition: all 0.8s ease-out;
}

.ico-hover:hover {
    transform: scale(1.2) !important;
    transition: all 0.2s ease-out;
}

.ico-hover.user {
    border: 3px solid #16b89e96;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
    background-size: 25px;
}

.breadcrumbs {
    display: flex;
    width: 100%;
    height: 3rem;
    background-image: linear-gradient(120deg, #2c8a7a 0%, #03e3c1 100%), url(/assets/images/bg1-breadcrumbs.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-top: 120px;
}

.breadcrumbs .breadcrumbs-flex {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.breadcrumbs .breadcrumbs-flex ul {
    width: 100%;
    display: inline-flex;
    gap: 0.1rem;
    height: 2rem;
    align-items: center;
    text-transform: uppercase;
}

.breadcrumbs .breadcrumbs-flex ul li a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: .8rem;
}

.breadcrumbs .breadcrumbs-flex ul li:not(:last-child) a::after {
    color: #fff;
    content: "";
    background-image: url(/assets/images/ico-breadcrumbs.svg);
    background-repeat: no-repeat;
    background-size: .3rem;
    display: block;
    width: 1.4rem;
    height: 1rem;
    background-position: left;
    background-position-x: 1rem;
    fill: #fff !important;
}

.breadcrumbs .breadcrumbs-flex ul li a:hover {
    color: #03E3C1;
    text-decoration: none;
    font-weight: bold;
}

.ico-home-breadcrumbs {
    padding: 0 .5rem;
    display: block;
}

.header {
    height: 120px;
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fcfcfc;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    top: 0;
    left: 0;
    width: 100% !important;
}

.header .flex-container {
    display: flex;
    align-items: center;
    gap: 3rem;
    width: 95%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.flex-container .menu-header ul {
    width: 100%;
    display: flex;
    gap: 0.5rem;
}

.flex-container .menu-header ul li {
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
    color: #333;
    font-weight: 600;
    padding: .2rem;
    text-align: center;
    font-size: .96rem;
}

.flex-container .menu-header ul li a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #333;
    font-weight: 600;
}

.flex-container .menu-header ul li a:hover,
.flex-container .menu-header ul li.active a {
    color: #03e3c1;
}

.flex-container .menu-header ul li a::after {
    content: "";
    background-color: #03e3c1;
    display: block;
    width: 0%;
    /* height: 3px; */
    /* transition: 0.3s; */
    margin: 0 auto;
}

.flex-container .menu-header ul li a:hover::after,
.flex-container .menu-header ul li.active a::after {
    width: 100%;
}

.menu-ico ul li img {
    height: 32px;
}

.flex-container .menu-ico ul {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.mobile-menu {
    color: #03e3c1;
}

.main {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
}

.main .flex-container {
    width: 95%;
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    text-align: center;
    margin: 0 auto;
}

.main .flex-pm {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.main .box-pm {
    background-color: #fafafa;
    border: solid 1px #c8c8c8;
    padding: 3rem;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.main .box-pm:hover {
    cursor: pointer;
}

.main .box-pm .box-body {
    display: flex;
    margin: 0.7rem;
    text-align: left;
    gap: 1.35rem;
}

.main .box-pm h3 {
    font-weight: bold;
    font-size: 2rem;
}

.container-medico {
    display: flex;
    width: 100%;
    gap: 1.5rem;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 4rem;
    align-content: center;
    flex-direction: row;
}

.medico-flex {
    display: flex;
    border: 1px solid #0333;
    width: 30%;
    min-width: 320px;
    height: 720px !important;
    flex-direction: column;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.medico-flex img {
    width: 100%;
    border-radius: 0;
}

.medico-flex h3 {
    font-weight: bold;
    color: #008a75;
    text-transform: uppercase;
    width: 100%;
    line-height: 0.8rem;
    font-size: 0.9rem;
}

.medico-flex h2 {
    font-weight: bold;
    color: #333;
    width: 100%;
    line-height: 1.4rem;
    font-size: 1.4rem;
    margin: 0.1rem 0;
}

.medico-flex-text {
    padding: 2rem 1rem 2rem 1rem;
    text-align: left;
}

.medico-box {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.medico-flex-text hr {
    border: #03e3c1 solid 0.16em;
    width: 4rem;
    margin: 0.2rem;
}

.medico-icone {
    background-color: #00947e;
    width: 3.5rem;
    height: 3.2em;
    position: absolute;
    bottom: 1.3rem;
    left: 1.3rem;
    padding: 0.6rem;
    border-radius: 0.2rem;
    vertical-align: middle;
}

.medico-icone-social {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.medico-icone-social-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.medico-flex-text p {
    margin: 1rem 0;
}

.medico-icone-social img {
    width: 2.5rem;
    border-radius: 1rem;
}

.medico-icone-button {
    color: #333;
    padding: 10px 20px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid #03e3c1;
}

.medico-icone-button:hover {
    color: #03e3c1;
    border: 2px solid #03e3c1;
}

.medico-icone img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page {
    width: 100%;
    display: flex;
    padding: 3rem 0;
    justify-content: center;
}

.page .page-flex {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 3rem;

    gap: 2rem;
}

.page .page-title {
    display: flex;
    width: 100%;
}

.page .page-title h1 {
    width: 100%;
    text-align: center;
}

.page-box {
    display: flex;
    border: 1px solid #03E3C1;
    justify-content: space-between;
    align-items: center;
    width: 38rem;
    padding: 1.4rem;
    border-radius: 1rem;
    transition: .2s;
    cursor: pointer;

}

.page-box:hover {
    transform: translateY(-1rem);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
}

.page-boxlement {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.3rem;
}

@media (max-width: 800px) {
    .titulo-h1 {
        font-size: 1.5rem;
        text-align: center;
        width: 100%;
        padding: 1rem 0;
    }

    .menu-user-flex {
        width: 80%;
        left: 10%;
    }
}

.cmplz-cookiebanne {
    display: flex;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    animation-duration: 1s;
    animation-name: barlgpd;
    position: fixed;
    bottom: 0;
    width: 50%;
    z-index: 1000;
}

.cmplz-cookiebanne .container {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1rem;
}

.cmplz-cookiebanne h4 {
    font-size: 1.4rem;
    color: #11c6aa;
    line-height: 2.4rem;
}

.cmplz-cookiebanne p {
    padding: 0.4rem 0;
    color: #333;
    font-weight: 600;
    font-size: 0.8rem;
    margin-top: 0.4rem;
}

.cmplz-cookiebanne-linksgroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.cmplz-cookiebanne-linksgroup span {
    font-size: 1.0rem;
    text-decoration: none;
    font-weight: bold;
    color: rgb(34, 34, 73);
}

.cmplz-cookiebanne-linksgroup span a {
    color: rgb(71 71 192);
    text-decoration: none;
}

.cmplz-cookiebanne-linksgroup span a:hover {
    color: #03e3c1;
    text-decoration: underline !important;
}

.cmplz-cookiebanne .icogroup {
    display: flex;
    align-items: center;
}

.cmplz-cookiebanne .icogroup img {
    height: 3rem;
    margin-right: 1rem;
}

.btn-button1 {
    background-color: #2c8a7a;
    color: white;
    padding: 1rem;
    font-size: 1.1rem;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
    border: 0.1rem solid #03e3c1 !important;
    margin: 0.4rem;
    text-align: center;
    font-weight: bold;
    min-width: 300px;
}

.btn-button1:link {
    background-color: #333;
    color: white;
    border: 0.1rem solid #333 !important;
}

.btn-button1:hover {
    background-color: #03e3c1 !important;
    color: white;
    border: 0.1rem solid #03e3c1 !important;
}